html,body{
	margin: 0px;
	font-family: 'Roboto Slab', serif;
}
.btn{
	background-color: inherit;
	border: none;
	outline: none;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 1.2em;
	padding: 10px 12px;
}
a,a:visited{
	color:inherit !important;
	text-decoration: none;
}
#logo{
	font-size:1.2em;
}
ul {
 list-style: none;
 margin: 20px;
}
.no-margin{
	margin: 0px;
}
.red{
	color: rgb(10,9,38);
}
.be-red{
	background-color: rgb(10,9,38);
}
.white{
	color:white;
}
.large-padding{
	padding: 10px 7px;
}
.field{
	margin-top:1em;
}
.top-space{
	margin-top:1em
}
.form-control{
	border:none;
	border-bottom: 1px solid;
	outline: none;
	width: 100%;
	display: block;
	padding: 10px 0px;
	font-size: 1.2em;
}